.display{
    width: 1900px;
    height: 920px;
    /* border: 1px solid; */
    display: flex;
    justify-content: center;

}

#leftSideMenuBar{
    width: 300px;
    /* height: 919  px; */
    /* border: 1px solid green; */
    /* margin: 2px; */
}

#name{
    width: auto;
    height: 200px;
    border: 1px solid /*orange*/;
    /* margin: 2px; */
    font-size:x-large;
    /* font-style: italic; */
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* color: red; */
}

#content{
    width: auto;
    height: 700px;
    border: 1px solid /* purple*/;
    margin: 0.1px;    
}

.department{
    cursor: pointer;
    /* pointer-events: all; */
}

#general{
    width: 1600px;
    height: 915px;
    /* border: 1px solid red; */
    /* margin: 2px; */
}

#contentPreview{
    width: 1598px;
    height: 200px;
    border: 1px solid /* orange*/;
    /* margin: 2px; */
    display: flex;
    justify-content: center;
}

#mainView{
    /* width: 1593px; */
    /* height: 705px; */
    /* border: 1px solid blue; */
    /* margin: 2px; */
    display: flex;
    justify-content: center;
}

/* ----------------------------------------------------------------------------------*/


.slider input[type=radio],
.slider .slide .slider-arrow,
.slider .content {
    display: none;
}

.slider input[type=radio]:checked~.slider-arrow {
    display: flex;
}

.slider .input[type=radio]:checked~.content {
    display: flex;
}



/* ----------------------------------------------------------------------------------*/

#picture{
    width: 1350px;
    height: 700px;
    border: 1px solid;
    /* margin: 2px; */
    display: flex;
    justify-content: space-around;
}
#description{
    width: 250px;
    height: 700px;
    border: 1px solid /* purple*/;
    /* margin: 2px; */
}

#img{
    height: 700px;
    width: 1350px;
    object-fit: contain;

}

.currViewimg{
    height: 195px;
    object-fit: scale-down;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
